<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-1 col-lg-8 text-center">

            <h1 class="text-info">The Watch List</h1>
            <%= link_to "Listes", lists_path, class: "btn btn-outline-info" %> 
            <%= link_to "Nouvelle liste", new_list_path, class: "btn btn-outline-info" %>

            <hr class="k2000">
        </div>
    </div>
</div>